# Certificates
*.pem

# Local .terraform directories
**/.terraform/*

# Dependency lock file
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
